<div class="container-login">
  <div class="page-login">
    <h3 class="login-title">INICIAR SESION</h3>

    <div class="page-login">
      <% flash.each do |msg_type, msg| %>
        <p>
          <%= msg %>
        </p>
      <% end %>

      <img src="assets/logopalmitas.jpg" height="150px" width="145px" alt="">

      <%= form_with scope:
                        :login, url: login_path, local: true do
      |form| %>
        <fieldset>
          <%= form.label :identification, 'Identificacion' %>
          <%= form.text_field :identification %>

          <%= form.label :password, 'Contrasena' %>
          <%= form.text_field :password, type: 'password' %>

          <%= form.submit 'Iniciar sesion' %>
        </fieldset>

      <% end %>
    </div>
  </div>
</div>
