<div class="container">
  <div class="page-content">
    <h3>INFORME SEMANAL DE ASISTENCIA</h3>
    <h4>Semana: <%= Time.now.at_beginning_of_week.strftime('%d/%m/%y') %>
      al <%= (Time.now.at_end_of_week - 2.days).strftime('%d/%m/%y') %></h4>
    <table>
      <thead>
      <tr>
        <th>Docente</th>
        <th colspan="2">Lunes</th>
        <th colspan="2">Martes</th>
        <th colspan="2">Miercoles</th>
        <th colspan="2">Jueves</th>
        <th colspan="2">Viernes</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.firtsname + ' ' + user.lastname %></td>
          <td>
            <% ingreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'ingreso'", Time.now.at_beginning_of_week.at_beginning_of_day, Time.now.at_beginning_of_week.at_end_of_day).first %>
            <% unless ingreso.nil? %>
            Ingreso: <%= ingreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
          <td>
            <% egreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'egreso'", Time.now.at_beginning_of_week.at_beginning_of_day, Time.now.at_beginning_of_week.at_end_of_day).first %>
            <% unless egreso.nil? %>
              Egreso: <%= egreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
          <td>
            <% ingreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'ingreso'", Time.now.at_beginning_of_week.at_beginning_of_day + 1.days, Time.now.at_beginning_of_week.at_end_of_day + 1.days).first %>
            <% unless ingreso.nil? %>
              Ingreso: <%= ingreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
          <td>
            <% egreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'egreso'", Time.now.at_beginning_of_week.at_beginning_of_day + 1.days, Time.now.at_beginning_of_week.at_end_of_day + 1.days).first %>
            <% unless egreso.nil? %>
              Egreso: <%= egreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
          <td>
            <% ingreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'ingreso'", Time.now.at_beginning_of_week.at_beginning_of_day + 2.days, Time.now.at_beginning_of_week.at_end_of_day + 2.days).first %>
            <% unless ingreso.nil? %>
              Ingreso: <%= ingreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
          <td>
            <% egreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'egreso'", Time.now.at_beginning_of_week.at_beginning_of_day + 2.days, Time.now.at_beginning_of_week.at_end_of_day + 2.days).first %>
            <% unless egreso.nil? %>
              Egreso: <%= egreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
          <td>
            <% ingreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'ingreso'", Time.now.at_beginning_of_week.at_beginning_of_day + 3.days, Time.now.at_beginning_of_week.at_end_of_day + 3.days).first %>
            <% unless ingreso.nil? %>
              Ingreso: <%= ingreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
          <td>
            <% egreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'egreso'", Time.now.at_beginning_of_week.at_beginning_of_day + 3.days, Time.now.at_beginning_of_week.at_end_of_day + 3.days).first %>
            <% unless egreso.nil? %>
              Egreso: <%= egreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
          <td>
            <% ingreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'ingreso'", Time.now.at_beginning_of_week.at_beginning_of_day + 4.days, Time.now.at_beginning_of_week.at_end_of_day + 4.days).first %>
            <% unless ingreso.nil? %>
              Ingreso: <%= ingreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
          <td>
            <% egreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'egreso'", Time.now.at_beginning_of_week.at_beginning_of_day + 4.days, Time.now.at_beginning_of_week.at_end_of_day + 4.days).first %>
            <% unless egreso.nil? %>
              Egreso: <%= egreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
          <td>
            <% ingreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'ingreso'", Time.now.at_beginning_of_week.at_beginning_of_day + 5.days, Time.now.at_beginning_of_week.at_end_of_day + 5.days).first %>
            <% unless ingreso.nil? %>
              Ingreso: <%= ingreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
          <td>
            <% egreso = user.assistances.where("fecha >= ? and fecha <= ? and accion = 'egreso'", Time.now.at_beginning_of_week.at_beginning_of_day + 5.days, Time.now.at_beginning_of_week.at_end_of_day + 5.days).first %>
            <% unless egreso.nil? %>
              Egreso: <%= egreso.fecha.strftime('%H:%M') %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>