<div class="container">
  <div class="page-content">
    <h3>INFORME SEMANAL DE ASISTENCIA</h3>
    <h4>Semana: <%= Time.now.at_beginning_of_week.strftime('%d/%m/%y') %>
      al <%= (Time.now.at_end_of_week - 2.days).strftime('%d/%m/%y') %></h4>
    <table>
      <thead>
      <tr>
        <th>Docente</th>
        <th colspan="2">Lunes</th>
        <th colspan="2">Martes</th>
        <th colspan="2">Miercoles</th>
        <th colspan="2">Jueves</th>
        <th colspan="2">Viernes</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.firtsname + ' ' + user.lastname %></td>
          <% user.assistances.order('fecha ASC').where(fecha: (Time.now.at_beginning_of_week)..(Time.now.at_end_of_week - 2.days)).each do |assistance| %>
            <% unless assistance.fecha.nil? %>
              <% if assistance.fecha.wday == 1 %>
                <% if assistance.accion == 'ingreso' %>
                  <td>Ingreso: <%= assistance.fecha.strftime('%H:%M') %></td>
                <% else %>
                  <td>Egreso: <%= assistance.fecha.strftime('%H:%M') %></td>
                <% end %>
              <% end %>
              <% if assistance.fecha.wday == 2 %>
                <% if assistance.accion == 'ingreso' %>
                  <td>Ingreso: <%= assistance.fecha.strftime('%H:%M') %></td>
                <% else %>
                  <td>Egreso: <%= assistance.fecha.strftime('%H:%M') %></td>
                <% end %>
              <% end %>
              <% if assistance.fecha.wday == 3 %>
                <% if assistance.accion == 'ingreso' %>
                  <td>Ingreso: <%= assistance.fecha.strftime('%H:%M') %></td>
                <% else %>
                  <td>Egreso: <%= assistance.fecha.strftime('%H:%M') %></td>
                <% end %>
              <% end %>
              <% if assistance.fecha.wday == 4 %>
                <% if assistance.accion == 'ingreso' %>
                  <td>Ingreso: <%= assistance.fecha.strftime('%H:%M') %></td>
                <% else %>
                  <td>Egreso: <%= assistance.fecha.strftime('%H:%M') %></td>
                <% end %>
              <% end %>
              <% if assistance.fecha.wday == 5 %>
                <% if assistance.accion == 'ingreso' %>
                  <td>Ingreso: <%= assistance.fecha.strftime('%H:%M') %></td>
                <% else %>
                  <td>Egreso: <%= assistance.fecha.strftime('%H:%M') %></td>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>