<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>IDENTIFICACION</th>
    <th>NOMBRES</th>
    <th>APELLIDOS</th>
    <th>GENERO</th>
    <th>TELEFONO</th>
    <th>ROL</th>
    <th>E-MAIL</th>
    <th>ESTADO</th>
    <th colspan="3"> </th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user|
  %>

    <tr>
      <td>
        <%= user.id %>
      </td>

      <td>
        <%= user.identification %>
      </td>

      <td>
        <%= user.firtsname %>
      </td>

      <td>
        <%= user.lastname %>
      </td>

      <td>
        <%= user.gender %>
      </td>

      <td>
        <%= user.phone %>
      </td>

      <td>
        <%= user.role %>
      </td>

      <td>
        <%= user.email %>
      </td>

      <td>
        <%= user.state %>
      </td>

      <td>
        <%= link_to "Show", user %>
      </td>

      <td>
        <%= link_to "Edit", edit_user_path(user) %>
      </td>

      <td>
        <%= link_to "Delete", user, method: :delete, data: {confirm: "Esta seguro de eliminar este usuario?"} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Create New User", new_user_path %>