<div class="container">

  <h3 class="title">Nuevo Usuario</h3>
  <div class="page-content">
    <%= form_with scope:
                      :user, url: users_path, local: true do
    |form| %>

      <fieldset>
        <%= form.label :firstname, 'Nombres' %>
        <%= form.text_field :firtsname %>

        <%= form.label :lastname, 'Apellidos' %>
        <%= form.text_field :lastname %>

        <%= form.label :gender, 'Genero' %>
        <select name="user[gender]" id="user_gender">
          <option value="F">Femenino</option>
          <option value="M">Masculino</option>
        </select>

        <%= form.label :phone, 'Telefono' %>
        <%= form.text_field :phone, type: 'tel' %>

        <%= form.label :role, 'Rol' %>
        <select name="user[role]" id="user_role">
          <option value="docente">Docente</option>
          <option value="admin">Administrador</option>
        </select>

        <%= form.label :identification, 'Identificacion' %>
        <%= form.text_field :identification, type: 'number' %>

        <%= form.label :email, 'Correo' %>
        <%= form.text_field :email, type: 'email' %>


        <%= form.label :password, 'Contrasena', id: 'user_password_label' %>
        <%= form.text_field :password, type: 'password' %>

        <%= form.submit 'Crear usuario', class: 'button-primary' %> |
        <%= link_to 'Atras', users_path, class: 'button button-outline' %>
      </fieldset>
    <% end %>
  </div>
</div>