<div class="container">

  <h3 class="title">Datos del Usuario</h3>
  <div class="page-content">
    <ul>
      <li>
        <strong>
          Identificacion:
        </strong>

        <%= @user.identification %>
      </li>

      <li>
        <strong>
          Primer nombre:
        </strong>

        <%= @user.firtsname %>
      </li>

      <li>
        <strong>
          Apellidos:
        </strong>

        <%= @user.lastname %>
      </li>

      <li>
        <strong>
          Genero:
        </strong>

        <%= @user.gender %>
      </li>

      <li>
        <strong>
          Telefono:
        </strong>

        <%= @user.phone %>
      </li>

      <li>
        <strong>
          Rol:
        </strong>

        <%= @user.role %>
      </li>

      <li>
        <strong>
          E-mail:
        </strong>

        <%= @user.email %>
      </li>

      <li>
        <strong>
          Estado:
        </strong>

        <%= @user.state %>
      </li>
    </ul>

    <div>
        <div>
          <h2> Asistencia</h2>
          <% @user.assistances.each do |assistance| %>
            <ul>
              <li>
                <strong>
                  Fecha de Ingreso:
                </strong>
              <%= assistance.fecha_ingreso %>
            </li>

            <li>
              <strong>
                Fecha de Egreso:
              </strong>
              <%= assistance.fecha_egreso %>
            </li>
          </ul>
        <% end %>
       </div>

      <div>
        <h2>Asistencia:</h2>
        <%= form_with(model: [@user, @user.assistances.build], local: true) do |form| %>
          <%= form.label :fecha_ingreso %>
          <%= form.text_field :fecha_ingreso %>
          <%= form.label :fecha_egreso %>
          <%= form.text_field :fecha_egreso %>
          <%= form.submit %>
        <% end %>
      </div>
    </div>

    <%= link_to 'Editar', edit_user_path(@user), class: 'button' %> |
    <%= link_to 'Atras', users_path, class: 'button button-outline' %>
  </div>
</div>
