<!DOCTYPE html>
<html>
  <head>
    <title>Control de asistencia | Institucion Educativa Las Palmitas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <main class="wrapper">
    <nav class="navigation">
      <section class="container">
        <a href="/" class="navigation-title"><h1 class="title">Control de asistencia</h1></a>
        <% if !session[:user_id].nil? %>
        <ul class="navigation-list float-right">
          <li class="navigation-item">
            <a href="/users/" class="navigation-link" >Usuarios</a>
          </li>
          <li class="navigation-item">
            <a href="/assistances/" class="navigation-link">Informes</a>
          </li>
          <li class="navigation-item">
            <%= link_to "Eliminar", shutdown, class: "navigation-link", method: :post, data: {confirm: "Esta seguro de apagar el sistema?"} %>
          </li>
          <li class="navigation-item">
            <a href="/logout" class="navigation-link">Cerrar sesion</a>
          </li>
        </ul>
        <% end %>
      </section>
    </nav>
    <%= yield %>
  </main>
  </body>
</html>
